.Product-group .grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}
.Product-group .group{
    width: 200px;
}
.Product-group .group img {
    width: 200px;
}

@media screen and (max-width: 576px) {
    .Product-group .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    

    .Pet-group .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
}